.body {
  width: 100%;
  max-width: 100%;
  height: 1900px;

  /* background-color: aquamarine; */
}
.headBody {
  margin-top: 12px;
  width: 100%;
  height: 52px;
  /* background-color: rgb(246, 239, 239); */
  /* background-color: rgb(222, 222, 178); */
}
.ourPr {
  width: 100%;
  height: 40px;
  background-color: rgb(241, 196, 137);

  display: flex;
  align-items: center;
  justify-content: center;
}
.ourPr > h2 {
  width: 190px;
  font-size: 25px;
  color: brown;
  text-align: center;
  position: relative;
}
.product {
  max-width: 100%;
  /* width: 100%; */
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 20%);

  /* background-color: rgb(151, 50, 50); */
}

@media screen and (max-width: 1250px) {
  .product {
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 950px) {
  .product {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}

@media screen and (max-width: 700px) {
  .product {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media screen and (max-width: 450px) {
  .product {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}
