.header3{
    margin-top: 2.5px;
    width: 100%;
    height: 400px;
    /* background-color: blueviolet; */
}
#Left{
    float: left;
    width: 60%;
    height: 100%;
    background-image: url(/image/Left.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
#Right{
    float: left;
    width: 40%;
    height: 100%;
    background-color: rgb(174, 192, 192);
    /* background-color: aliceblue; */
}
#top,#mid,#bot{
    position: relative;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-repeat: no-repeat;
}
#top{
    /* background-color: rgb(231, 132, 13); */
    background-image: url(/image/top.png);
}
#mid{
    margin-top: 1px;
    /* background-color: brown; */
    background-image: url(/image/mid.jpg);
}
#bot{
    margin-top: 1px;
    /* background-color: yellowgreen; */
    background-image: url(/image/bot.jpg);
}