@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Google Sans';
  src: url('/font/google_font/GoogleSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/font/google_font/GoogleSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/font/google_font/GoogleSans-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/font/google_font/GoogleSans-Bold.ttf');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: 'Google Sans', Times, serif;
}

#root {
  width: 100%;
}

.wrapper {
  height: 100vh;
}
.wrap2 {
  width: 100%;
  /* background-color: rgb(231, 228, 225); */
  /* position: relative;
  left: 2.5%; */
}
.wrap3 {
  width: 95%;
  height: 100%;
  /* background-color: rgb(235, 157, 54); */
  position: relative;
  left: 2.5%;
}

.avt.chakra-avatar > div[role='img'] {
  font-size: calc(10em / 2);
}

.offer__table-header {
  padding: 10px 0;
}

.offer__table-row {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.offer__table-header > div:not(:first-child),
.offer__table-row > div:not(:first-child) {
  position: relative;
}

.offer__table-row > div:not(:first-child):before,
.offer__table-header > div:not(:first-child):before {
  content: '|';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.offer__color-picker input {
  height: 30px !important;
}
.offer__color-picker div[title='#FFFFFF'] {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.chakra-popover__popper {
  z-index: 10000 !important;
}
