@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Roboto', Times, serif;
}

#root {
  width: 100%;
}

.wrapper {
  height: 100vh;
}
.wrap2 {
  width: 100%;
  /* background-color: rgb(231, 228, 225); */
  /* position: relative;
  left: 2.5%; */
}
.wrap3 {
  width: 95%;
  height: 100%;
  /* background-color: rgb(235, 157, 54); */
  position: relative;
  left: 2.5%;
}
